body {
            background-color: #eee;
            overflow: hidden;
        }

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            background-color: #eee;
            display: block;
            margin: 0 auto;
        }

        input {
            opacity: 0.5;
            filter: alpha(opacity=50);
            margin-bottom: 20px;

        }