<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenyu.mapper.RecommendMapper" >
  <resultMap id="BaseResultMap" type="com.zhenyu.model.Recommend" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="main_title" property="mainTitle" jdbcType="VARCHAR" />
    <result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
    <result column="col2" property="col2" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_id, user_id, article_id, content, main_title, sub_title, col2, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_recommend
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_recommend
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhenyu.model.Recommend" >
    insert into t_recommend (id, type_id, user_id, 
      article_id, content, main_title, 
      sub_title, col2, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{articleId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{mainTitle,jdbcType=VARCHAR}, 
      #{subTitle,jdbcType=VARCHAR}, #{col2,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhenyu.model.Recommend" >
    insert into t_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="mainTitle != null" >
        main_title,
      </if>
      <if test="subTitle != null" >
        sub_title,
      </if>
      <if test="col2 != null" >
        col2,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="mainTitle != null" >
        #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        #{col2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenyu.model.Recommend" >
    update t_recommend
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="mainTitle != null" >
        main_title = #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        col2 = #{col2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenyu.model.Recommend" >
    update t_recommend
    set type_id = #{typeId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      article_id = #{articleId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      main_title = #{mainTitle,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      col2 = #{col2,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getId" resultType="int">
    select 
    max(CAST(id AS SIGNED)) from t_recommend
    </select>
    <select id="getRecommendByDate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_recommend
    where create_time = #{0}
    </select>
    
    
</mapper>