<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenyu.mapper.UserArticleMapper" >
  <resultMap id="BaseResultMap" type="com.zhenyu.model.UserArticle" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="release_time" property="releaseTime" jdbcType="DATE" />
    <result column="collect_time" property="collectTime" jdbcType="DATE" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="col1" property="col1" jdbcType="VARCHAR" />
    <result column="col2" property="col2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, title, introduce, content, author, release_time, collect_time, resource, 
    type_id, col1, col2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user_article
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhenyu.model.UserArticle" >
    insert into t_user_article (id, user_id, title, 
      introduce, content, author, 
      release_time, collect_time, resource, 
      type_id, col1, col2)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=DATE}, #{collectTime,jdbcType=DATE}, #{resource,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=VARCHAR}, #{col1,jdbcType=VARCHAR}, #{col2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhenyu.model.UserArticle" >
    insert into t_user_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="releaseTime != null" >
        release_time,
      </if>
      <if test="collectTime != null" >
        collect_time,
      </if>
      <if test="resource != null" >
        resource,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="col1 != null" >
        col1,
      </if>
      <if test="col2 != null" >
        col2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=DATE},
      </if>
      <if test="collectTime != null" >
        #{collectTime,jdbcType=DATE},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="col1 != null" >
        #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        #{col2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenyu.model.UserArticle" >
    update t_user_article
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        release_time = #{releaseTime,jdbcType=DATE},
      </if>
      <if test="collectTime != null" >
        collect_time = #{collectTime,jdbcType=DATE},
      </if>
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="col1 != null" >
        col1 = #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        col2 = #{col2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenyu.model.UserArticle" >
    update t_user_article
    set user_id = #{userId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=DATE},
      collect_time = #{collectTime,jdbcType=DATE},
      resource = #{resource,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      col1 = #{col1,jdbcType=VARCHAR},
      col2 = #{col2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
   <select id="getId" resultType="int">
    select 
    max(CAST(id AS SIGNED)) from t_user_article
    </select>
    
    <select id="getArticleByIdAndTitle" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where user_id = #{1}
    and 
    type_id = #{0}
    and 
    title = #{2}
  </select>
  
    <select id="hasArticle" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where user_id = #{0}
    and 
    type_id = #{1}
  </select>
  
  <select id="getCollects" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where user_id = #{0}
    and 
    col1 = '0'
  </select>
  
  
  
  <select id="getCollectsByUser" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where user_id = #{0}
  </select>
  
  
  
  
  <select id="getUaByTypeId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where
    type_id = #{0}
  </select>  
 
  <select id="getArticleByTypeIdAndUserId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where
    type_id = #{0}
    and 
    user_id = #{1}
  </select>  
  <select id="getArticleByTitle" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_article
    where title = #{0}
  </select>
  
  
</mapper>